:root {
  --highlight-color: #ffb6c1;
  --text-color: #424141;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}

form input[type="text"],
input[type="email"],
input[type="password"] {
  width: 30rem;
}

input[type="submit"] {
  width: 10rem;
}

.app {
  padding: 2rem 5rem;
}

.link,
.link:hover {
  text-decoration: none;
  color: var(--text-color);
}

.link:hover {
  background: linear-gradient(
    to bottom,
    var(--highlight-color) 0%,
    var(--highlight-color) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 6px;
}
