/* Variables */

:root {
  --highlight-color: #ffb6c1;
  --text-color: #424141;
}

/* General CSS */

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}

form input[type="text"],
input[type="email"],
input[type="password"] {
  width: 30rem;
}

input[type="submit"] {
  width: 10rem;
}

h1,
h2 {
  font-weight: bold;
}

/* Common/general classes CSS */

.app {
  padding: 3rem 2rem;
}

.link,
.link:hover {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
}

.link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-color);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.link:hover:before {
  visibility: visible;
  width: 100%;
}

.error-msg {
  color: red;
  margin-top: 2rem;
  text-align: center;
}

.full-page-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS Media Queries */

@media (min-width: 768px) {
  .app {
    padding: 2rem 5rem;
  }
}
