.event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10rem;
}

.event-info-container {
  margin-top: 1rem;
}

.event-info-container p {
  margin: 0;
}

.event-description {
  margin-top: 1rem;
}
