.event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-page h2 {
  text-align: center;
}

.event-info-container {
  margin-top: 1rem;
}

.event-info-container p {
  margin: 0;
}

.event-description {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .event-page {
    padding: 0 10rem;
  }
}
