.tags-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.tags-container p {
  margin-right: 0.5rem;
}

.search-bar form {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.search-bar form input[type="text"] {
  width: 25rem;
}

.search-bar form select {
  width: 10rem;
}
