.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.tags-container p {
  margin-right: 0.5rem;
}

.search-bar form {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.search-bar form input[type="text"] {
  width: 10rem;
  margin-bottom: 0.5rem;
}

.search-bar form select {
  width: 10rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .search-bar form input[type="text"] {
    width: 25rem;
    margin-bottom: 0;
  }

  .search-bar form select {
    width: 10rem;
    margin-bottom: 0;
  }
}
